<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.DeviceControlEvalActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <receiver
            android:name=".debug.DeviceControlEvalReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.bytedance.zgx.solin.debug.DEVICE_CONTROL_EVAL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.DebugRemoteConfigReceiver"
            android:exported="false" />
        <provider
            android:name=".debug.CountingSharedContentProvider"
            android:authorities="com.bytedance.zgx.solin.debug.sharedcontent"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
